@import url('https://fonts.iu.edu/style.css?family=BentonSans:regular,bold|BentonSansCond:regular|GeorgiaPro:regular');
//
//* {
//  font: normal normal normal 18px/21px BentonSans Regular;
//  font-family: BentonSans Regular;
//}

$font-family-sans-serif: BentonSans Regular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: BentonSans Regular, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: BentonSans Regular, $font-family-sans-serif !default;

$primary: #006298;
//$primary: #9a0002;
//$secondary: $gray-600 !default;
//$success: $green !default;
//$info: $cyan !default;
//$warning: $yellow !default;
//$danger: $red !default;
$light: #F7F7F7 !default;
//$dark: $gray-800 !default;

//$table-cell-padding: .75rem !default;
//$table-cell-padding-sm: .3rem !default;

//$table-color: $body-color !default;
//$table-bg: null !default;
//$table-accent-bg: rgba($black, .05) !default;
//$table-hover-color: $table-color !default;
//$table-hover-bg: rgba($black, .075) !default;
//$table-active-bg: $table-hover-bg !default;

$table-border-width: 1px !default;
$table-border-color: $light !default;

//$table-head-bg: red !default;
//$table-head-color: blue !default;
//$table-th-font-weight: null !default;

//$table-dark-color: $white !default;
//$table-dark-bg: $gray-800 !default;
//$table-dark-accent-bg: rgba($white, .05) !default;
//$table-dark-hover-color: $table-dark-color !default;
//$table-dark-hover-bg: rgba($white, .075) !default;
//$table-dark-border-color: lighten($table-dark-bg, 7.5%) !default;

//$table-striped-order: odd !default;
//
//$table-caption-color: $text-muted !default;

//$table-bg-level: -9 !default;
//$table-border-level: -6 !default;




// Padding applied to the modal body
$modal-inner-padding:               2rem !default;

// Margin between elements in footer, must be lower than or equal to 2 * $modal-inner-padding
//$modal-footer-margin-between:       .5rem !default;

//$modal-dialog-margin:               .5rem !default;
//$modal-dialog-margin-y-sm-up:       1.75rem !default;
//
//$modal-title-line-height:           $line-height-base !default;
//
//$modal-content-color:               null !default;
//$modal-content-bg:                  $white !default;
//$modal-content-border-color:        rgba($black, .2) !default;
$modal-content-border-width:        0px !default;
$modal-content-border-radius:       0px !default;
$modal-content-inner-border-radius: 0px !default;
//$modal-content-box-shadow-xs:       0 .25rem .5rem rgba($black, .5) !default;
//$modal-content-box-shadow-sm-up:    0 .5rem 1rem rgba($black, .5) !default;

//$modal-backdrop-bg:                 $black !default;
//$modal-backdrop-opacity:            .5 !default;
//$modal-header-border-color:         $border-color !default;
//$modal-footer-border-color:         $modal-header-border-color !default;
//$modal-header-border-width:         $modal-content-border-width !default;
//$modal-footer-border-width:         $modal-header-border-width !default;
//$modal-header-padding-y:            1rem !default;
$modal-header-padding-x:            2rem !default;
//$modal-header-padding:              $modal-header-padding-y $modal-header-padding-x !default; // Keep this for backwards compatibility
//
//$modal-xl:                          1140px !default;
//$modal-lg:                          800px !default;
//$modal-md:                          500px !default;
//$modal-sm:                          300px !default;
//
//$modal-fade-transform:              translate(0, -50px) !default;
//$modal-show-transform:              none !default;
//$modal-transition:                  transform .3s ease-out !default;
//$modal-scale-transform:             scale(1.02) !default;



$alert-padding-y:                   .75rem !default;
$alert-padding-x:                   1.25rem !default;
$alert-margin-bottom:               1rem !default;
$alert-border-radius:               0px !default;
//$alert-link-font-weight:            $font-weight-bold !default;
$alert-border-width:                5px !default;

$alert-bg-level:                    -10 !default;
$alert-border-level:                0 !default;
$alert-color-level:                 6 !default;


//$toast-max-width:                   350px !default;
//$toast-padding-x:                   .75rem !default;
//$toast-padding-y:                   .25rem !default;
//$toast-font-size:                   .875rem !default;
$toast-color:                       secondary !default;
$toast-background-color:            white !default;
$toast-border-width:                0px !default;
$toast-border-color:                none !default;
$toast-border-radius:               0rem !default;
//$toast-box-shadow:                  0 .25rem .75rem rgba($black, .1) !default;

$toast-header-color:                white !default;
$toast-header-background-color:     $primary !default;
$toast-header-border-color:         none !default;


// Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap';
// BootstrapVue and its default variables
@import '~bootstrap-vue/src/index.scss';


//--font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
//   Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
// --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
//   'Courier New', monospace;


.table thead th {
  //background-color: #f7f7f7;
  border: none;
}

.table {
  font-size: 1rem;
}

.alert {
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
}
